body {
    background-color: mediumpurple;
    font-size: 18px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    color: rebeccapurple;
    line-height : 15px;
}

footer {
    text-align: center;
}