body {
    background-color: #f4f1de;
}

#titulo {
    text-align: center;
}

table {
   width: 100%;
}

th, td {
    border: solid;
    padding: 15px;
}

#menu img {
    height: 20rem;
    margin-left: 100px;
    width: 80%;
}